$color-logo: #101828;
$color-black: #000;
$color-black-secondary: rgba(0, 0, 0, 0.54);
$color-border-primary: #D7DDE9;
$color-border-secondary: #E0E4EE;
$color-check-primary: #A0DCF6;
$color-check-secondary: #0796D3;
$button-color-primary: linear-gradient(to right, #0796D3, #53C0F0);
$color-icon-primary: #B0BBD1;
