@import 'variables';

.tasksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 30px;

    .tasksWrapper {
        background-color: #fff;
        border-radius: 16px;
        border: 1px solid $color-border-secondary;
        padding: 2rem;
        width: 100%;
        max-width: 450px;

        h2 {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color: $color-black-secondary;
        }

        .tasksList {
            border-radius: 8px;
            padding: 1rem;

            p {
                font-size: 10px;
                text-align: center;
                color: $color-black-secondary;
            }

            .task {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                border: 2px dotted $color-border-primary;
                border-radius: 8px;
                margin-top: 16px;

                &:hover {
                    border: 2px solid #fff;
                }

                .taskCheckbox {
                    margin-right: 1rem;
                    margin-top: 2px;

                    input[type='checkbox'] {
                        width: 24px;
                        height: 24px;
                        border-radius: 4px;
                        background-color: #fff;
                        border: 1px solid $color-border-primary;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        cursor: pointer;

                        &:checked {
                            background-color: #000;
                            border-color: #000;
                            background-image: url("../../public/check.png");
                            background-size: 22px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .taskTitle {
                    flex-grow: 1;
                    font-size: 1rem;
                }

                .taskDelete {
                    margin-left: 1rem;
                    color: $color-icon-primary;
                    font-size: 18px;
                    cursor: pointer;
                }

                &.completed {
                    .taskTitle {
                        text-decoration: line-through;
                        color: $color-black-secondary;
                    }

                    .taskCheckbox {
                        input[type='checkbox'] {
                            background-color: $color-check-primary;
                            border-color: $color-check-secondary;
                            accent-color: $color-check-secondary;
                        }
                    }
                }
            }
        }

        .completedTasks {
            margin-top: 2rem;

            h2 {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: $color-black-secondary;
            }
        }
    }

    .addTaskButton {
        background: $button-color-primary;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 1rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 2rem;
        width: 100%;
        max-width: 450px;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;
        }
    }
}
